@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
}

body {
    background-color: #36213E;
    color: #8AC6D0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80rem;
    padding: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-align {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.5rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #80ce87;
    background: #554971;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 3px 3px 10px 3px #8AC6D0;
    transition: transform 300ms;
    transform: scale(1.02);
}